<footer class="site-footer">
  <div class="footer-links">
    <a class="footer-social-link" href="https://github.com/reeceherbert887" target="_blank" rel="noopener noreferrer">
      <img src="/assets/images/github.jpg" alt="GitHub logo" class="footer-icon">
      <span>GitHub</span>
    </a>

    <a class="footer-social-link" href="https://www.linkedin.com/in/reece-herbert/" target="_blank" rel="noopener noreferrer">
      <img src="/assets/images/linkedin.jpg" alt="LinkedIn logo" class="footer-icon">
      <span>LinkedIn</span>
    </a>
  </div>

  <p>© 2026 Reece Herbert | Robotics & AI</p>
</footer>
